* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff9a4b;
  height: 50px;
}

main {
  width: 960px;
  margin: 50px auto;
}

.container {
  display: flex;
}

.main-box {
  width: 300px;
  background-color: #eeeeee;
  margin-right: 30px;
  position: relative;
  padding: 10px;
}

.main-box:last-child {
  margin-right: 0;
}

.first-box {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.second-box {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.third-box {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.title {
  margin: 15px 0 5px 0;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: #ff9a4b;
}

footer {
  background-color: #aaaaaa;
  height: 50px;
}
